@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

$Montserrat: 'Montserrat';
$Roboto: 'Roboto';
$Ubuntu: 'Ubuntu';