#header 
{
    background-color: $header-background;
    color: white;

    h1 {
        font-family: $Montserrat;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.5;
    }

    .container-fluid {
        padding: 3% 15%;
    }

    .download-btn {
        margin: 5% 3% 5% 0;
    }

    img {
        width: 60%;
        transform: rotate(20deg);
    }
}