#testimonials
{
    text-align: center;
    background-color: $testimonial-background;
    color: white;

    .testimonials-img {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
        border: 2px solid black;
    }

    .carousel-item {
        padding: 7% 15%;
    }
}